body {
  margin:0;
  overflow-y: scroll !important;
  background-color: #fefefe !important;
}
.logo {
  width: 200px;
}

.slide-leave-active,
.slide-enter-active {
  transition: all 0.1s ease-out;
}

.slide-enter-from {
  transform: translateY(-10px);
  opacity: 0;
}

.slide-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.has-child-section {
  border-left: 2px solid var(--bs-border-color);
}

.section-control {
  color: #8f8f8f;
}

.icon {
  min-width: 20pt;
  opacity: 0.3;
}

.branch:before {
  content: ' ';
  width: 6px;
  margin-top: 1.2em;
  color: transparent;
  border-top: 2px solid var(--bs-border-color);
  display: inline-block;
}

.branch.spacer:before {
  border-color: transparent !important;
}

.modal-open {
  padding-right: 0 !important;
}

::placeholder {
  color: #aaa !important;
}

label {
  display: inline-block;
  margin-bottom: .5rem
}

.form-group {
  margin-bottom: 1rem
}

a:not([class*="btn"]) {
  text-decoration: none;
}

a:not([class*="btn"]):hover {
  text-decoration: underline;
}
